@import "variables";

.palindrome-app {
  margin-top: 2rem;
  font-size: $font-size;

  & > div {
    margin-top: 0.75rem;
    border: 0.125rem solid black;
    padding: 1rem;
    border-radius: 1rem 0;
  }

  .checkbox-control {
    display: flex;
    justify-content: center;
    font-size: 1rem;

    div:first-child {
      margin-right: 2rem;
    }

    label, input {
      cursor: pointer;
    }
  }

  #palindrome-input {
    font-size: $font-size;
    background-color: transparent;
    border: none;
    text-align: center;
    border-bottom: 1px solid black;
    font-family: $font-family;

    &:focus {
      border: none;
    }
  }
}